@using Hotel.Web.ViewModels.Reservation
@model CheckReservationViewModel

<div class="row">
    <div class="col-md-7">
        <div class="thumbnail">
            <h2>Няма наличност!</h2>
            <br />
            <h4>Няма свободна стая за дадения период @Model.StartDate.Value.ToString("dd.MM.yyyy") - @Model.EndDate.Value.ToString("dd.MM.yyyy")</h4>
            <br />
            @Html.ActionLink("Обратно", "Check", "Reservation")
        </div>
    </div>
</div>