<div class="col-xs-3 @*col-md-3 col-sm-4*@">
    <div class="list-group table-of-contents">
        <a class="list-group-item" href="/images/Room">Стаи</a>
        <a class="list-group-item" href="/images/Restaurant">Ресторанти</a>
        <a class="list-group-item" href="/images/MeetingHall">Конферентни зали</a>
        <a class="list-group-item" href="/images/Bar">Барове</a>
        <a class="list-group-item" href="/images/SPA">СПА център</a>
    </div>
</div>

