<div class="row">
    <div class="col-xs-3">
        <img class="img-rounded" src="http://www.hotel-r.net/im/hotel/al/the-river-hotel-18.jpg" alt="Blue River Hotel" style="width: 1138px; height: 600px;">
    </div>
</div>

<hr style="border: 2px solid #073b8e" />

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <h2>Добре дошли в Blue River Hotel &#9733 &#9733 &#9733 &#9733 &#9733</h2>
            <p>
                Открийте очарованието на ... 

                С удивителна инфраструктура, разположен сред природата, Blue River Hotel Ви предлага всичко, от което се нуждаете, за едно приятно прекарване или перфектно организирано мероприятие.

                Зашеметяващи панорамни гледки, невероятни възможности за срещи и свободно време!
            </p>
        </div>
    </div>
</div>

<hr style="border: 2px solid #073b8e" />

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" border="0" alt="Rooms" src="http://www.hotel-r.net/im/hotel/al/the-river-hotel-18.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="#">
                    <h2>Стаи и Апартаменти</h2>
                </a>
                <p>
                    Изберете си стая или апартамент с невероятна гледка към планината, докато реката тихо ромоли на една ръка разстояние.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" border="0" alt="Restaurants" src="http://www.hotel-r.net/im/hotel/al/the-river-hotel-18.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="#">
                    <h2>Ресторанти и Барове</h2>
                </a>
                <p>
                    Оптитайте невероятно вкусни и изискани специалитети приготвени от едни от най-добрите готвачи в страната. 
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" border="0" alt="MeetingHalls" src="http://www.hotel-r.net/im/hotel/al/the-river-hotel-18.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="#">
                    <h2>Конферентна база</h2>
                </a>
                <p>
                    От строго делови мероприятия през бляскави тържества до значими социални събития. Превърнете вашето събитие в истински успех!
                </p>
            </div>
        </div>
    </div>
</div>
