@using Hotel.Web.Hotel.Web.ViewModels.Manage
@model IndexViewModel
@{
    ViewBag.Title = "Профил";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div style="margin-top: 20px; margin-left: 50px">
                <h3>@ViewBag.Title</h3>
                <hr />
                <br />
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Промяна на парола", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>
        </div>
    </div>
</div>

