<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/Room">
                <img class="img-rounded" border="0" alt="Rooms" src="~/Content/Images/room1.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="/images/Room">
                    <h3>Стаи и Апартаменти</h3>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/Restaurant">
                <img class="img-rounded" border="0" alt="Restaurants" src="~/Content/Images/restaurant1.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="/images/Restaurant">
                    <h3>Ресторанти</h3>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/MeetingHall">
                <img class="img-rounded" border="0" alt="MeetingHalls" src="~/Content/Images/hall1.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="/images/MeetingHall">
                    <h3>Конферентни зали</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/images/Bar">
                <img class="img-rounded" border="0" alt="Bars" src="~/Content/Images/piano-bar1.jpg" width="350" height="350">
            </a>
            <div class="caption">
                <a href="/images/Bar">
                    <h3>Барове</h3>
                </a>
            </div>
        </div>
    </div>
</div>
