@using Hotel.Web.ViewModels.Images
@model IEnumerable<CategoryPictureViewModel>

<div class="row">
     @Html.Partial("_VerticalNavBarPartial")
    
    @foreach (var category in Model)
    {
        var base64 = Convert.ToBase64String(category.Picture);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="/images/@category.Category">
                    <img class="img-rounded" border="0" alt="@category.Category+s" src='@imgSrc' width="350" height="350">
                </a>
                <div class="caption">
                    <a href="/images/@category.Category">
                        <h3>@category.Name</h3>
                    </a>
                </div>
            </div>
        </div>
    }
</div>


