@using Hotel.Web.ViewModels.Images
@model IEnumerable<CategoryPictureViewModel>

<div class="row">
     @Html.Partial("_VerticalNavBarPartial")
    
    @foreach (var category in Model)
    {

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="/images/@Html.DisplayFor(modelItem => category.Category)">
                    <img class="img-rounded" border="0" alt="@Html.DisplayFor(modelItem => category.Category)" src='@Url.Action("GetImage", "Images", new { id= category.PictureId })' width="350" height="350">
                </a>
                <div class="caption">
                    <a href="/images/@Html.DisplayFor(modelItem => category.Category)">
                        <h3>@Html.DisplayFor(modelItem => category.Name)</h3>
                    </a>
                </div>
            </div>
        </div>
    }
</div>


