@using Hotel.Web.Hotel.Web.ViewModels.Images
@model IEnumerable<PictureViewModel>

<div class="row">
    @Html.Partial("_VerticalNavBarPartial")

    <div class="col-xs-9">
        @foreach (var picture in Model)
        {
            <div class="col-xs-4">
                <div class="thumbnail">
                    <img class="magnify" data-magnifyby="2.5" border="0" src="@Url.Action("GetImage", "Images", new { id= picture.Id })" width="350" height="350">
                </div>
            </div>
        }
    </div>
</div>





