@using Hotel.Web.Hotel.Web.ViewModels.Images
@model IEnumerable<PictureViewModel>

<div class="row">
    @Html.Partial("_VerticalNavBarPartial")

    @foreach (var picture in Model)
    {
        <div class="col-xs-3">
            <div class="thumbnail">
                <img class="magnify" data-magnifyby="2.5" border="0" src="@Url.Action("GetImage", "Images", new { id= picture.Id })" width="350" height="350">
            </div>
        </div>
    }
    
</div>

@Html.ActionLink("Back", "CategoriesImages", "Images", new { @style = "color:#073b8e; font-weight:bold;" })




