<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="magnify" data-magnifyby="2.5" border="0" src="~/Content/Images/hall1.jpg" width="350" height="350">
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img class="magnify" data-magnifyby="2.5" border="0" src="~/Content/Images/hall2.jpg" width="350" height="350">
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img class="magnify" data-magnifyby="2.5" border="0" src="~/Content/Images/hall3.jpg" width="350" height="350">
        </div>
    </div>
</div>

@Html.ActionLink("Back", "CategoriesImages", "Images", new { @style = "color:#073b8e; font-weight:bold;" })


