<div class="row">

    <div class="col-xs-6">
        <div class="thumbnail">
            <img src="~/Content/Images/reception.jpg" alt="Reception" style="width:630px; height:950px">
        </div>
    </div>

    <div class="col-xs-6">
        <div class="thumbnail">
            <h2>Hotel Blue River &#9733 &#9733 &#9733 &#9733 &#9733</h2>
            <div class="row">
                <div class="col-xs-1 col-lg-offset-1">
                    <div class="item1">
                        <span class="glyphicon glyphicon-map-marker" style="vertical-align:middle"></span>
                    </div>
                </div>
                <div class="col-xs-5">
                    <h5>АДРЕС</h5>
                    <p>гр.Някакъв, ул.Някаква 0</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1 col-lg-offset-1">
                    <div class="item1">
                        <span class="glyphicon glyphicon-earphone" style="vertical-align:middle"></span>
                    </div>
                </div>
                <div class="col-xs-5">
                    <h5>ТЕЛЕФОН ЗА РЕЗЕРВАЦИИ</h5>
                    <p>+359 000 000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1 col-lg-offset-1">
                    <div class="item1">
                        <span class="glyphicon glyphicon-envelope" style="vertical-align:middle"></span>
                    </div>
                </div>
                <div class="col-xs-5">
                    <h5>E-MAIL</h5>
                    <p>hotel@blueriver.eu</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="thumbnail">
            <h2>Комплексен управител</h2>
            <div class="row">
                <div class="col-xs-1 col-lg-offset-1">
                    <div class="item1">
                        <span class="glyphicon glyphicon-earphone" style="vertical-align:middle"></span>
                    </div>
                </div>
                <div class="col-xs-5">
                    <h5>ТЕЛЕФОН</h5>
                    <p>+359 000 000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1 col-lg-offset-1">
                    <div class="item1">
                        <span class="glyphicon glyphicon-envelope" style="vertical-align:middle"></span>
                    </div>
                </div>
                <div class="col-xs-5">
                    <h5>E-MAIL</h5>
                    <p>hotel@manager.eu</p>
                </div>
            </div>
        </div>
    </div>

        <div class="col-xs-6">
            <div class="thumbnail">
                <div id="map" style="width:100%; height:435px">My map will go here</div>
            </div>
        </div>

    </div>

        



